body {
    margin: 0;
    padding:0 ;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    overflow: hidden;
    /* cursor: none; Hide default cursor */
}

.follower {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.1s ease;
}
